name: Lint Checks

on:
  pull_request:

jobs:
  lint:
    name: "Ansible Lint"
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v5

      - name: Install dependency manager
        run: pipx install poetry

      - name: Set up Python 3.x
        id: setup-python
        uses: actions/setup-python@v6
        with:
          python-version-file: pyproject.toml
          cache: 'poetry'

      - name: Install packages
        run: poetry install --no-interaction

      - name: Lint
        run: make lint
