name: Lint Checks

on:
  pull_request:

jobs:
  lint:
    name: "Ansible Lint"
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Set up Python 3.x
        id: setup-python
        uses: actions/setup-python@v6
        with:
          python-version-file: pyproject.toml

      - name: Install packages
        run: uv sync --all-groups

      - name: Lint
        run: make lint
