name: Pull request integration tests

on:
  pull_request_target:
    branches:
      - main
    paths:
      - poetry.lock
      - pyproject.toml
      - 'plugins/module_utils/**'
      - 'plugins/modules/**'
      - 'tests/integration/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number }}
  cancel-in-progress: true

env:
  PR_NUMBER: ${{ github.event.pull_request.number }}

jobs:
  test-integration:
    runs-on: ubuntu-22.04
    # MUST keep this environment set if using pull_request_target
    environment: integration
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        versions:
          - ansible: stable-2.16
            python: "3.11"
        module:
          - account_info
          - actions_info
          - app
          - apps_info
          - balance_info
          - billing_history_info
          - byoip_prefix
          - byoip_prefixes_info
          - cdn_endpoints # Failing with a 500, marked disabled in aliases
          - cdn_endpoints_info
          - certificate
          - certificates_info
          - container_registry
          - container_registry_info
          - database_backups_info
          - database_cluster
          - database_clusters_info
          - database_config
          - database_config_info
          - database_connection_pool
          - database_connection_pools_info
          - database_db
          - database_dbs_info
          - database_firewall
          - database_firewall_rules_info
          - database_maintenance_window
          - database_replica
          - database_replicas_info
          - database_user
          - database_users_info
          - domain
          - domain_record
          - domain_records_info
          - domains_info
          - droplet
          - droplet_action_power
          - droplet_action_resize
          - droplet_action_snapshot
          - droplet_autoscale_pool
          - droplet_autoscale_pools_info
          - droplet_backups_info
          - droplet_kernels_info
          - droplet_neighbors_info
          - droplet_snapshots_info
          - droplets_info
          - firewall
          - firewalls_info
          - floating_ip
          - floating_ip_action
          - floating_ips_info
          - function_namespace
          - function_namespaces_info
          - image
          - image_action
          - images_info
          - inventory_droplets
          - invoice_items_info
          - invoices_info
          - kubernetes_cluster
          - kubernetes_clusters_info
          - kubernetes_node_pool
          - kubernetes_node_pools_info
          - load_balancer
          - load_balancers_info
          - monitoring_alert_policies_info
          - monitoring_alert_policy
          - nfs
          - nfs_action
          - nfs_info
          - one_click
          - one_clicks_info
          - project
          - project_resource
          - project_resources
          - project_resources_info
          - projects_info
          - regions_info
          - reserved_ip
          - reserved_ip_assign
          - reserved_ips_info
          - reserved_ipv6
          - reserved_ipv6_action
          - reserved_ipv6s_info
          - sizes_info
          - snapshot
          - snapshots_info
          - space
          - spaces_info
          - spaces_key
          - spaces_keys_info
          - ssh_key
          - ssh_keys_info
          - tag
          - tags_info
          - uptime_alert
          - uptime_alerts_info
          - uptime_check
          - uptime_checks_info
          - uptime_checks_state_info
          - volume
          - volume_action
          - volume_snapshot
          - volumes_info
          - vpc
          - vpc_nat_gateway
          - vpc_nat_gateways_info
          - vpc_peering
          - vpc_peerings_info
          - vpcs_info
    steps:
      - name: Perform integration testing
        uses: ansible-community/ansible-test-gh-action@release/v1
        with:
          # MUST set 'git-checkout-ref' if using pull_request_target
          # MUST use an Environment if using pull_request_target
          # 'github.event.pull_request.head.sha' checks out the
          # PR source repo's code, which should be considered untrusted
          git-checkout-ref: ${{ github.event.pull_request.head.sha }}
          pre-test-cmd: >-
            DIGITALOCEAN_TOKEN=${{ secrets.DIGITALOCEAN_TOKEN }}
            AWS_ACCESS_KEY_ID=${{ secrets.AWS_ACCESS_KEY_ID }}
            AWS_SECRET_ACCESS_KEY=${{ secrets.AWS_SECRET_ACCESS_KEY }}
            ./tests/utils/render.sh
            tests/integration/integration_config.yml.template
            > tests/integration/integration_config.yml
          ansible-core-version: ${{ matrix.versions.ansible }}
          origin-python-version: ${{ matrix.versions.python }}
          target: ${{ matrix.module }}
          target-python-version: ${{ matrix.versions.python }}
          testing-type: integration
          test-deps: >-
            community.general
