name: Ruff

on:
  pull_request:
    paths:
      - "**.py"
  push:
    branches: [main]
    paths:
      - "**.py"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  ruff:
    runs-on: ubuntu-22.04
    timeout-minutes: 5
    steps:
      - name: Check out code
        uses: actions/checkout@v5

      - name: Run Ruff
        uses: chartboost/ruff-action@v1
